.intro {
    background-color: red;
}
h2{
    color: gold;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 40%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}